    
  ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
 border: 10px double black; 
   background-image: linear-gradient(to top right, black, purple, orange);

}
li a:hover {
  background-color: #111;
}
li {
  float: left;
  border-right: none; 
}

li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


body {
   background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b860fa61-deff-44a8-9a30-21600f4a8496/dcqgep6-87f7cb89-20a2-4e1d-8daa-d4078d4f1427.png/v1/fill/w_1600,h_900,q_80,strp/killer_queen_wallpaper_by_tenopis_dcqgep6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC9iODYwZmE2MS1kZWZmLTQ0YTgtOWEzMC0yMTYwMGY0YTg0OTZcL2RjcWdlcDYtODdmN2NiODktMjBhMi00ZTFkLThkYWEtZDQwNzhkNGYxNDI3LnBuZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.HeOjZr6UdD2Cetf7mWf5b5Q5TjN4lBsl39RuqvW8i-k")  ;
  background-repeat: repeat;
  }
    
